################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/rembg-api/obj
/rembg-api/bin/Debug/net6.0
/.vs/rembg-api/FileContentIndex
